= simple_form_for @message do |f|
  = f.input :recipients, :input_html => { data: { autocomplete_source: current_user.followed_users.map(&:name)}, :value => ""}
  = f.input :subject
  = f.input :body, :as => :text
  /= f.input :attachment, :as => :file
  = f.button :submit, 'Send message'


