= render 'navigation'
.span9
  -if @search
    %h2 Search results for '#{@search}'
  -if @box == 'inbox'
    %h2 Inbox
  -if @box == 'sent'
    %h2 Sent
  -if @box == 'trash'
    %h2 Trash
  = render "mail_panel"
  #mail-container
    = form_tag trash_messages_path, :method => :delete do
      = hidden_field_tag 'current_box', @box
      = render 'messages'
      - unless @box == 'trash'
        = submit_tag "Delete checked messages", :id => "delete_multiple_button"
