= nested_form_for(@project, :url => wizard_path, :html => { :class => "form-horizontal"}) do |f|
  = f.error_notification
  .form-inputs
    = yield f
  .form-actions
    = f.button :submit, "Continue >>", :class => "btn-large btn-info"
    or
    = link_to "skip this step", next_wizard_path
