.well
  = image_tag(comment.user.profile_picture.thumb) 
  = link_to comment.user, user_path(comment.user)
  %br
  %br
  %h4= comment.title
  .comment_body
    = comment.comment
  %br
  %em.small Posted #{timeago_tag comment.created_at, :nojs => true, :limit => 10.days.ago}
