%h1 Listing issues

%table
  %tr
    %th Project
    %th Tracker
    %th
    %th
    %th

  - @issues.each do |issue|
    %tr
      %td= issue.project_id
      %td= issue.tracker_id
      %td= link_to 'Show', issue
      %td= link_to 'Edit', edit_issue_path(issue)
      %td= link_to 'Destroy', issue, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Issue', new_issue_path
