=render 'common/project_tabs'
.row
  .span11
    #issues
      %table.table.table-striped
        %thead
          %tr
            %th #
            %th Status
            %th Priority
            %th Subject
            %th Assignee
            %th Updated
        %tbody
        - @issues.each do |issue|
          - present issue do |issue_presenter|
            %tr
              %td= issue_presenter.id
              %td= issue_presenter.status
              %td= issue_presenter.priority
              %td= issue_presenter.subject
              %td= issue_presenter.assignee
              %td= issue_presenter.updated
