=render 'common/project_tabs'
.row
  .span12
    #issue.well
      %h3 Update
      = nested_form_for([@project, @issue], :html => { :class => "form-horizontal", :multipart => true }) do |f|
        = render :partial => 'issues/form', :locals => { :f => f }
        .form-actions
          = link_to "Cancel", project_issue_path(@project, @issue), :class => "btn"
          = f.button :submit, "Update", :class => "btn-success"
          = link_to " Add log time", new_project_issue_time_entry_path(:project_id => @project, :issue_id => @issue), :remote => true, :class => 'btn btn-success icon-plus-sign'
=render 'issue_categories/modal'
