= simple_form_for(@user, :html => { :class => "form-horizontal", :multipart => true }) do |f|
  = f.error_notification
  .inputs
    = f.input :name, :required => true, :autofocus => true
    = f.input :number, :required => true
    = f.association :intake, :required => true
    = f.input :facebook
    = f.input :twitter
    = f.input :msn
    = f.input :facebook
    = f.input :skype
    = f.input :profile_picture
  .actions
    = f.button :submit, "Update", :class => "btn btn-success"
    or
    =link_to "Cancel", details_user_path(@user)
