#user.line
  .row
    -present user do |user_presenter|
      .span3
        = user_presenter.profile_picture
        %h3= user_presenter.name
        %p= user_presenter.messageble?
      .span3
        %dt
          Involved in 
          %b= user_presenter.projects_involved
        %dd
          -user.assignees.each do |assignee|
            = link_to assignee.project, project_path(assignee.project)
            %br
      .span4
        %dt 
          Activities Assigned
        %dd
          - user.assignees.each do |assignee|
            - assignee.activities.each do |activity|
              = link_to activity.title, project_phase_activity_path(assignee.project, activity.phase, activity),  :style => "font-size:16px" 
              in 
              = link_to assignee.project, project_path(assignee.project)
              %br
