- @modal = capture do
  .modal#new_message
    .modal-header
      = button_tag '×', :class => "close", "data-dismiss" => "modal"
      %h3 Send message
    .modal-body
      %p
        = simple_form_for(@message, :url => send_message_user_path(@message.recipients[0]), :html => {:class => "form-vertical"}, :remote => true) do |f|
          = f.input :subject
          = f.input :body, :as => :text
          .modal-footer
            %a.btn{:href => "#", "data-dismiss" => "modal"} Close
            = f.button :submit, "Send message", :class => "btn btn-success"

:plain
  $('#new_message').modal('hide');
  $('#new_message').remove();
  $('body').append("#{j @modal}");
  $('#new_message').modal('show');
