=render 'common/project_tabs'
.row
  .span12
    #attachments
      %table.table
        %thead
          %tr
            %th File
            %th Size
            %th MD5 Hash
            %th Source
            %th Date
            %th Download
            %th Delete
        %tbody
          - @attachments.each do |attachment|
            %tr
              %td= attachment.file.file.original_filename
              %td= number_to_human_size(attachment.file.size)
              %td= attachment.file.md5
              %td= attachment.attachable.title
              %td= attachment.created_at.strftime("%d-%m-%Y")
              %td= link_to " Download", attachment.file.url, :class => 'link_to_file', :class => "btn btn-mini btn-info icon-download"
              %td= link_to "", [@project, attachment], :method => :delete, :class => "icon-trash", :id => "delete_#{attachment.id}"
