=render 'common/project_tabs'
#row
  .span12
    #attachments
      = nested_form_for(@project, :url => {:controller => "attachments", :action => "create", :project_id => @project}, :method => :post, :html => { :class => "form-horizontal", :multipart => true }) do |f|
        .row
          = f.simple_fields_for :attachments, Attachment.new do |a|
            .row
              .span4
                = a.input :file, :as => :file
              .span4
                = a.input :description
              .span2
                = a.link_to_remove " Remove",  :class => "icon-trash"
        .row
          = f.link_to_add " Add file", :attachments, :class => "btn btn-mini btn-primary icon-plus-sign", :style => "margin-left: 120px"
        .form-actions
          = f.button :submit, "Add", :class => "btn-success"
