<% content_for :javascript do %>
  <script type="text/javascript" src = "/assets/FusionCharts.js"></script>
  <script type="text/javascript"><!--
    var myChart = new FusionCharts( "/assets/Gantt.swf", "myChartId", "1100", "1000", "0", "1" );
    myChart.setDataXML('<chart slackFillColor="FF3030" ganttPaneDuration="3" ganttPaneDurationUnit="m" palette="3" dateFormat="mm/dd/yyyy" caption="<%=@project.name%> - Project Gantt" subCaption="From <%= @project.event.start_at.strftime("#{@project.event.start_at.day.ordinalize} %b %Y")%> - <%= @project.event.end_at.strftime("#{Date.today.day.ordinalize} %b %Y") %>">\n\
    <categories>\n\
    <% i = @project.event.end_at.month - @project.event.start_at.month + 1%>
    <% start = @project.event.start_at %>
    <% en = start.next_month %>
    <% if i > 0 %>
      <% i.times do %>
        <category start="<%= start.strftime("%m/01/%Y") %>" end="<%= en.strftime("%m/30/%Y")%>" label="<%=start.strftime("%b")%>" />\n\
        <% start = start.next_month %>
        <% en = start.next_month %>
      <% end %>
    <% else %>
        <category start="<%= start.strftime("%m/01/%Y") %>" end="<%= en.strftime("%m/30/%Y")%>" label="<%=start.strftime("%b")%>" />\n\
    <% end %>
    </categories>\n\
    <processes fontSize="12" isBold="1" align="right" headerText="Phases" headerFontSize="12" headerVAlign="bottom" headerAlign="center">\n\
      <% @project.phases.each do |phase| %>
        <process label="<%= phase.title %>"  />\n\
        <% phase.activities.each do |activity| %>
          <process label="<%= activity.title %>" />\n\
        <% end %>
      <% end %>
    </processes>\n\
    <tasks>\n\
      <% @project.phases.each do |phase| %>
        <task start="<%= phase.event.start_at.strftime("%m/%d/%Y")%>" end="<%= phase.event.end_at.strftime("%m/%d/%Y")%>" showAsGroup="1" label="<%=phase.title%>" showLabel="1" percentComplete="<%= phase.complete %>" showPercentLabel="1" id="<%=phase.id%>" color="<%= phase.complete == 100 ? "7cfc00" : "999999"%>" />\n\
        <% phase.activities.each do |activity| %>
          <task start="<%= activity.event.start_at.strftime("%m/%d/%Y")%>" end="<%= activity.event.end_at.strftime("%m/%d/%Y") %>" />\n\
        <% end %>
      <% end %>
    </tasks>\n\
    <milestones>\n\
        <% @project.milestones.each do |milestone| %>
          <milestone date="<%=milestone.phase.event.end_at.strftime("%m/%d/%Y")%>" taskId="<%=milestone.phase_id%>" shape="Star" toolText="<%=milestone.description%>" color="FF5904" />\n\
        <% end %>
    </milestones>\n\
    <datatable headerVAlign="bottom">\n\
        <datacolumn headerText="Assignee" headerVAlign="bottom" headerAlign="center" align="center" fontSize="12">\n\
          <% @project.phases.each do |phase| %>
            <text label="" />\n\
              <% phase.activities.each do |activity| %>
                <text label="<%= activity.assignee %>" />\n\
              <% end %>
          <% end %>
        </datacolumn>\n\
        <datacolumn headerText="Start" align="center" fontSize="12">\n\
          <% @project.phases.each do |phase| %>
              <text label="<%= phase.event.start_at %>"/>\n\
              <% phase.activities.each do |activity| %>
                <text label="<%= activity.event.start_at %>" />\n\
              <% end %>
          <% end %>
        </datacolumn>\n\
        <datacolumn headerText="End" align="center" fontSize="12">\n\
          <% @project.phases.each do |phase| %>
            <text label="<%= phase.event.end_at %>"/>\n\
              <% phase.activities.each do |activity| %>
                <text label="<%= activity.event.end_at %>" />\n\
              <% end %>
          <% end %>
        </datacolumn>\n\
        <datacolumn headerText="Days" align="center" fontSize="12">\n\
          <% @project.phases.each do |phase| %>
            <text label="<%= (phase.event.end_at - phase.event.start_at).to_i%>"/>\n\
              <% phase.activities.each do |activity| %>
                <text label="<%= (activity.event.end_at - activity.event.start_at).to_i %>" />\n\
              <% end %>
          <% end %>
        </datacolumn>\n\
    </datatable>\n\
    <legend>\n\
    <item label="Completed" color="7cfc00" />\n\
    <item label="Actual" color="999999" />\n\
    <item label="Remains" color="FF3030" />\n\
    <item label="Milestone" shape="Star" color="FF5904" />\n\
    </legend>\n\
    <trendlines>\n\
    <line start="<%=Date.today.strftime("%m/%d/%Y")%>" displayValue="Today is <%= Date.today.strftime("#{Date.today.day.ordinalize} of %b")%>" color="333333" thickness="2" dashed="1" />\n\
    </trendlines>\n\
    </chart>');
    myChart.render("chartContainer");
  // -->
  </script>
<% end %>
<div id = "chartContainer"> Gantt will load here </div>
