=render 'common/project_tabs'
.row
  .span12#news
    = link_to ' Add news', new_project_news_path, :class => "btn btn-success icon-plus-sign add_news_btn"
    %br
    %br
    %h3 News
    .span10
      - @news.each do |news|
        .well
          .news_header
            .title
              = link_to news.title, [@project, news]
            .actions
              = link_to ' Edit', edit_project_news_path(:project_id => @project, :id => news), :class => 'icon-pencil'
              = link_to ' Delete', [@project, news], :confirm => 'Are you sure?', :method => :delete, :class => 'icon-trash'
          = news.summary.present? ? truncate(news.summary, :length => 400) : truncate(news.description, :length => 400)
          %br
          %br
          %em Added by #{link_to news.author, user_path(news.author)} #{timeago_tag news.created_at, :nojs => true, :limit => 10.days.ago}
      %br
      = paginate @news
