=render 'common/project_tabs'
.row
  .span12
    #project
      .span5
        %h4 Project complete
        .progress
          .bar{:style=>"width: #{@project.complete}"}= @project.complete
        %h4 Hand in date
        = @project.event.start_at
        %h4 Hand out date
        = @project.event.end_at
        %h4 Gantt chart
        = link_to "Show", project_gantt_path(@project), :class => "btn btn-mini btn-inverse"
      .span5
        %h4 Members
        %ul
          - @project.members.each do |member|
            %li
              = link_to member, user_path(:id => member.user_id)
.row
  .span12
    =simple_format(@project.description)
