=render 'common/project_tabs'
#row
  .span12
    #project
      %h3= @project.name
      .span5
        %h4 Issue tracking
        %ul
          - @project.issues.each do |issue|
            %li= link_to issue.subject, project_issue_path(:project_id => @project, :id => issue)
      .span5
        %h4 Members
        %ul
          - @project.members.each do |member|
            %li
              %em= member.roles.first
              = link_to member, project_member_path(:project_id => @project, :id => member)
      .span5
        %h4 Latest news
        = link_to @project.news.last.title, project_news_path(:project_id => @project, :id => @project.news.last)
        %br
        = link_to "View all", project_news_index_path(@project)
#row
  .span12
    =simple_format(@project.description)
