<%= render 'common/project_tabs' %>
<div class='row'>
  <div class='span12'>
    <h3>Activities overdue</h3>
    <table class='table'>
      <% @project.activities_overdue.each do |activity| %>
        <tr>
          <td><%= activity.title %></td>
          <td><%= activity.assignee %></td>
          <td> End day was: <%= activity.event.end_at %>
        </tr>
      <% end %>
    </table>
    <div id='pie' style = 'width: 800px; height: 400px'>
  </div>
</div<
<% content_for :javascript do %>
  <script type="text/javascript" src="/assets/highcharts.js"></script>
  <script type="text/javascript">
    $(function () {
      var pie;
      $(document).ready(function() {
      pie = new Highcharts.Chart({
        chart: {
          renderTo: 'pie',
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false
        },
        title: {
          text: 'Activities'
        },
        tooltip: {
          formatter: function() {
            return '<b>' + this.point.name + '</b>: ' + this.percentage + ' %';
          }
        },
        plotOptions: {
          pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
              enabled: true,
              color: '#000000',
              connectorColor: '#000000',
              formatter: function(){
                return '<b>' + this.point.name + '</b>: ' + this.percentage + ' %';
                }
              }
            }
          },
          series: [{
            type:'pie',
            name: 'Activities',
            data: [
              ['Activities Pending', <%= (((@project.activities.size - @project.activities_done.size).to_f / @project.activities.size.to_f) * 100.0).round(2) %>],
              ['Activities Complete', <%= ((@project.activities_done.size.to_f / @project.activities.size.to_f) * 100.0).round(2) %>]
            ]
          }]
        });
      });
    });
  </script>
<% end %>
