- @modal = capture do
  .modal#new_role
    .modal-header
      = button_tag '×', :class => "close", "data-dismiss" => "modal"
      %h3 New role
    .modal-body
      %p
        = simple_form_for([@project, @role], :html => {:class => "form-vertical"}, :remote => true) do |f|
          = render :partial => "roles/form", :locals => { :f => f }
          .modal-footer
            %a.btn{:href => "#", "data-dismiss" => "modal"} Close
            = f.button :submit, "Save", :class => "btn btn-success"

:plain
  $('#new_role').modal('hide');
  $('#new_role').remove();
  $('body').append("#{escape_javascript @modal}");
  $('#new_role').modal('show');
