= f.error_notification
.form-inputs
  %table#appointment
    %tr
      %td
        = f.input :location
        = f.association :members, :collection => @project.members, :hint => "Hold 'Ctrl' to select multiple students"
      %td 
        = f.simple_fields_for :event, @appointment.event ? @appointment.event : @appointment.build_event do |event|
          = event.input :name, :required => true
          .span3
            = event.input :start_at, :as => :datetime,  :label => "Date", :input_html => { :style => "width: 60px;" }

