- @modal = capture do
  .modal#new_activity
    .modal-header
      = button_tag '×', :class => "close", "data-dismiss" => "modal"
      %h3 Add Activity
    .modal-body
      %p
        = nested_form_for([@project, @phase, @activity], :html => {:class => "form-vertical"}, :remote => true) do |f|
          = render :partial => "form", :locals => { :f => f }
          .modal-footer
            %a.btn{:href => "#", "data-dismiss" => "modal"} Close
            = f.button :submit, "Add Activity", :class => "btn btn-success"

:plain
  $('#new_activity').modal('hide');
  $('#new_activity').remove();
  $('body').append("#{escape_javascript @modal}");
  $('#new_activity').modal('show');
