=render 'common/project_tabs'
.row
  .span12
    - present @activity do |activity_presenter|
      %dl.dl-horizontal
        %dt Name:
        %dd= activity_presenter.title
        %dt Start at:
        %dd= activity_presenter.start_at
        %dt End at:
        %dd= activity_presenter.end_at
        %dt Days left:
        %dd= activity_presenter.days_left
        %dt Status:
        %dd= activity_presenter.status
        %dt Members:
        %dd
          %ul
            - @activity.members.each do |member|
              %li
                = member

        = link_to "Edit", "", :class => "btn btn-mini btn-warning"
