=render 'common/project_tabs'
.row
  .span12
    %table.table
      %thead
        %tr
          %th Name
          %th Start at
          %th End at
          %th Days left
          %th Status
          %th
      %tbody
        %tr
          - present @activity do |activity_presenter|
            %td= activity_presenter.title
            %td= activity_presenter.start_at
            %td= activity_presenter.end_at
            %td= activity_presenter.days_left
            %td= activity_presenter.status
            %td
              = link_to "Edit", "", :class => "btn btn-mini btn-warning"
