= nested_form_for [@project, @phase], :html => { :class => "form-horizontal" } do |f|
  .form-inputs
    = f.input :title
    = f.simple_fields_for :event, @phase.event ? @phase.event : @phase.build_event do |event|
      = event.input :start_at, :as => :date_picker, :required => true
      = event.input :end_at, :as => :date_picker, :required => true
  .row
    .span12
      = f.simple_fields_for :attachments, @phase.attachments.build do |a|
        = a.input :project_id, :as => :hidden, :input_html => { :value => @project.id }
        .row
          .span4
            = a.input :file, :as => :file
          .span4
            = a.input :description, :placeholder => "Optional description", :input_html => { :style => "width: 200px"}
          .span2
            = a.link_to_remove " Remove",  :class => "icon-trash"
  .row
    .span12
      = f.link_to_add " Add file", :attachments, :class => "btn btn-mini btn-primary icon-plus-sign", :style => "margin-left: 120px"
  .form-actions
    = f.button :submit, :class => "btn btn-success"
- content_for :javascript do
  :javascript
    $(document).ready(function(){
      $(".datepicker ").datepicker({ 
        dateFormat: 'yy-mm-dd', 
        minDate: new Date(#{@project.event.start_at.strftime("%Y, %m-1, %d")}),
        maxDate: new Date(#{@project.event.end_at.strftime("%Y, %m-1, %d")}),
      });
    });
