= simple_form_for [@project, @phase], :html => { :class => "form-horizontal" } do |f|
  .form-inputs
    = f.input :title
    = f.simple_fields_for :event, @phase.event ? @phase.event : @phase.build_event do |event|
      = event.input :start_at, :as => :date_picker, :required => true
      = event.input :end_at, :as => :date_picker, :required => true
  .form-actions
    = f.button :submit, :class => "btn btn-success"
- content_for :javascript do
  :javascript
    $(document).ready(function(){
      $(".datepicker ").datepicker({ 
        dateFormat: 'yy-mm-dd', 
        minDate: new Date(#{@project.event.start_at.strftime("%Y, %m-1, %d")}),
        maxDate: new Date(#{@project.event.end_at.strftime("%Y, %m-1, %d")}),
      });
    });
