=render 'common/project_tabs'
.row
  .span12
    .span7#phases_list
      = form_tag project_phases_path(@project), :method => :get do
        .form-inputs
          = label_tag :per_page, "Phases per page"
          = text_field_tag :per_page
          = submit_tag "Show", :class => "btn-inverse"
      %ul.unstyled#phases
        = render 'phases'
    .span4
      %h3 Activities
      %table.table.table-striped#activities
.row
  .span12
    = link_to " New Phase", new_project_phase_path, :class => "btn btn-success icon-plus-sign"
- content_for :javascript do
  :javascript
    $(function(){
      $('#phases').sortable({
        axis: 'y',
        dropOnEmpty: false,
        handle: '.icon-ok-sign',
        cursor: 'crosshair',
        items: 'li',
        opacity: '0.4',
        scroll: true,
        update: function(){
          $.ajax({
            type: 'post',
            data: $('#phases').sortable('serialize'),
            dataType: 'script',
            beforeSend: function(){
              $('#phases_list').addClass('loader');
            },
            complete: function(request){
              $('#phases_list').removeClass('loader');
              $('#phases').effect('highlight');
            },
            url: "#{sort_project_phases_path(@project)}"
          })
        }
      });
      $('#sortable').disableSelection();
      $('.pagination a').live('click', function(){
        $.get(this.href, null, null, 'script');
        return false;
      });
    });
