=render 'common/project_tabs'
.row
  .span12
    - present @phase do |phase_presenter|
      %dl.dl-horizontal
        .span3
          %dt Title:
          %dd= phase_presenter.title
          %dt Start at:
          %dd= phase_presenter.start_at
          %dt End at:
          %dd= phase_presenter.end_at
          %dt Attachments:
          %dd
            %ul.unstyled
              - if @phase.attachments.any?
                - @phase.attachments.each do |attachment|
                  %li= link_to attachment.file.file.original_filename, attachment.file.url  
              
        .span4
          %dt Days left:
          %dd= phase_presenter.days_left
          %dt Complete %:
          %dd= phase_presenter.complete
          %dt Gantt chart:
          %dd= link_to "Show", project_phase_gantt_path(@project, @phase), :class => "btn btn-mini btn-inverse"
          %dt Document:
          %dd= link_to " Edit document", project_document_path(@project, @phase.document), :class => "btn btn-mini btn-info icon-pencil"
.row
  .span10
    = link_to " New Activity", new_project_phase_activity_path(:project_id => @project, :phase_id => @phase), :class => "btn btn-small btn-success icon-plus-sign"
    %br
    %br
    #activities
      = render 'activities/activities', :object => @activities
