#row
  .span12
    %h2=@project.name
    %ul.nav.nav-tabs
      %li{:class => params[:controller] == "projects" && is_active?("show")} #{ link_to(@project) { content_tag(:i, "", :class => "icon-home") << "Overview" }}
      %li{:class => params[:controller] == "activities" ? "active" : ""} #{ link_to(activities_project_path(@project)) { content_tag(:i, "", :class => "icon-time") << "Activities" }}
      %li{:class => params[:controller] == "issues" && params[:action] != "new" ? "active" : "" } #{ link_to(project_issues_path(@project)) { content_tag(:i, "", :class => "icon-check") << "Issues" }}
      %li{:class => params[:controller] == "issues" && params[:action] == "new" ? "active" : ""} #{ link_to(new_project_issue_path(@project)) { content_tag(:i, "", :class => "icon-plus-sign") << "New issue" }}
      %li{:class => params[:controller] == "news" ? "active" : "" } #{ link_to(project_news_index_path(@project)) { content_tag(:i, "", :class => "icon-list-alt") << "News" }}
      %li{:class => params[:controller] == "attachments" ? "active" : "" } #{ link_to(project_attachments_path(@project)) { content_tag(:i, "", :class => "icon-file") << "Files" }}
      %li{:class => params[:controller] == "documents" ? "active" : "" } #{ link_to(project_documents_path(@project)) { content_tag(:i, "", :class => "icon-book") << "Documents" }}
      %li{:class => params[:controller] == "settings" ? "active" : "" } #{ link_to(settings_information_project_path(@project)) { content_tag(:i, "", :class => "icon-cog") << "Settings" }}
      %li{:class => params[:controller] == "gantts" ? "active" : "" } #{ link_to(project_gantt_path(@project)) { content_tag(:i, "", :class => "icon-random") << "Gantt" }}
      %li{:class => params[:controller] == "projects" && is_active?("statistics")} #{ link_to(statistics_project_path(@project)) { content_tag(:i, "", :class => "icon-resize-horizontal") << "Statistics" }}
      %li{:class => params[:controller] == "calendar" ? "active" : "" } #{ link_to(calendar_path(@project)) { content_tag(:i, "", :class => "icon-calendar") << "Calendar" }}
      %li{:class => params[:controller] == "appointments" ? "active" : ""} #{ link_to(project_appointments_path(@project)) { content_tag(:i, "", :class => "icon-bookmark") << "Appointments" }}
