#row
  .span11
    %h2=@project.name
    %ul.nav.nav-tabs
      %li{:class => params[:controller] == "projects" && is_active?("show")} #{ link_to(@project) { content_tag(:i, "", :class => "icon-home") << "Overview" }}
      %li{:class => params[:controller] == "activities" ? "active" : ""} #{ link_to(activities_project_path(@project)) { content_tag(:i, "", :class => "icon-time") << "Activities" }}
      %li{:class => params[:controller] == "issues" && params[:action] != "new" ? "active" : "" } #{ link_to(project_issues_path(@project)) { content_tag(:i, "", :class => "icon-check") << "Issues" }}
      %li{:class => params[:controller] == "issues" && params[:action] == "new" ? "active" : ""} #{ link_to(new_project_issue_path(@project)) { content_tag(:i, "", :class => "icon-plus-sign") << "New issue" }}
      %li{:class => params[:controller] == "settings" ? "active" : "" } #{ link_to(settings_information_project_path(@project)) { content_tag(:i, "", :class => "icon-cog") << "Settings" }}
      %li{:class => params[:controller] == "news" ? "active" : "" } #{ link_to(project_news_index_path(@project)) { content_tag(:i, "", :class => "icon-list-alt") << "News" }}
