%tr{:id => "report_#{report.id}"}
  %td= truncate report.description, :length => 60, :omission => '...'
  %td= report.created_at.to_date
  %td= report.prepared_by
  %td
    = image_tag "images/pdf.jpg", :size => "20x20"
    = link_to " Download", project_report_path(@project, report, :format => :pdf), :class => "btn btn-mini btn-info icon-download"
    = link_to " Delete", project_report_path(@project, report), :method => :delete, :class => "btn btn-mini btn-danger icon-trash", :remote => true
