%h1 Listing members

%table
  %tr
    %th User
    %th Project
    %th
    %th
    %th

  - @members.each do |member|
    %tr
      %td= member.user_id
      %td= member.project_id
      %td= link_to 'Show', member
      %td= link_to 'Edit', edit_member_path(member)
      %td= link_to 'Destroy', member, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Member', new_member_path
